*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --green: #0dbc0a;
    --white: #fff;
    --dark: #1e1c2a;
}

body{
    color: var(--dark);
    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo {
    color: var(--green);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color: var(--dark);
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: var(--green);
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--green);
}

.home-btn {
    color: #fff;
 }

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

.home-text {
    max-width: 37rem;
}

.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--green);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}

.home-btn{
    padding: 15px 45px;
    background: var(--green);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover{
    background: rgb(11, 83, 238);
}

.home-img img {
    width: 100%;
    border-radius: 450px;
}

/* Galeria de Imagens */
.espacamento {
    margin-bottom: 80px;
 }

.tituloGaleria {
    text-align: center;
    margin-bottom: 50px;
    color: var(--green);
    font-size: 30px;
}

 .resumoGaleria {
    font-size: 18px;
    text-align: left;
    margin: 20px;
 }

 .container {
    padding: 25px 9% ;
    text-align: center;
 }

 .container .container-image {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 30px;
 }

 .container .container-image .image {
    width: 350px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(0,0,0,.1);
    background-color: #fff;
    padding: 15px;
    animation: fadeIn .2s linear;
 }

 .container .container-image .image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px; 
 }

 .container .container-image .image img:hover {
    transform: scale(1.2);
 } 

 .container .container-image .image h2{
    font-size: 20px;
    color: var(--dark);
 }

 @keyframes fadeIn {
    0%{
        transform: scale(.7) translateY(-10px);
        opacity: 0;
    }
 }


@media (max-width: 785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }

    .nav-item{
        margin: 16px 0;
    }

    /* main */
    .main {
        text-align: center;
    }
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        /* overflow: hidden; */
        gap: 5rem;
    }

    .home .text-h4{
        font-size: 15px;
    }

    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p {
        font-size: 15px;
    }

    .home-img {
        /* width: 125%; */
        display: none;
    }

    .container .container-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
    }

    .container .container-image .image{
        width: 100%;
    }

}

@media (max-width:450px){
    
    .container .container-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
    }

    .container .container-image .image{
        width: 100%;
    }
}
